
    div {

        display: inline-block;
        flex-direction: row;
        border: 1px solid black;
        width: 200px;
        height: 200px;
    
    }


#Quadrado-1 {
    background-color: #F5BB1C;
    

}

#Quadrado-2 {
    background-color: #F5BB1C;
}
    
#Quadrado-3 {
    background-color: #F5BB1C;
   
}


#Quadrado-4 {
    background-color: #F5BB1C;
    
}

#Quadrado-5 {
    background-color: #F5BB1C;
    
}
#Qadrado-6 {
    background-color: #F5BB1C;
    

}

#Quadrado-a {
    background-color: #2196F3;

}

#Quadrado-b {
    background-color: #2196F3;
    
}

#Quadrado-c {
    background-color: #2196F3;
        
}

#Quadrado-d {
    background-color: #2196F3;
            
}

#Quadrado-e {
    background-color: #dc143c

}

#Quadrado-f {
background-color: #dc143c;
    
}

#Quadrado-g {
    background-color:#dc143c;
        
}
            
#Quadrado-h {
    background-color: #dc143c;
            
}

#Quadrado-i {
    background-color: #2196F3;

}

#Quadrado-j {
background-color: #2196F3;
    
}

#Quadrado-k {
    background-color:#2196F3;
        
}
            
#Quadrado-l {
    background-color: #2196F3;
            
}

#Quadrado-m {
    background-color: #F5BB1C;
            
}

#Quadrado-n {
    background-color: #F5BB1C;
            
}

#Quadrado-o {
    background-color: #F5BB1C;
            
}

#Quadrado-p {
    background-color: #F5BB1C;
            
}




                